<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="logo-wrapper">
        <img src="/assets/svg/footer-logo.svg" alt="Logo" class="logo" />
        <ul class="navItemsWrapper">
          <li data-aos="fade-up" data-aos-delay="100">
            <a href="index.html" class="navItem">Home</a>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <a href="services.html" class="navItem">Our Services</a>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <a href="about.html" class="navItem">About Us</a>
          </li>
          <li data-aos="fade-up" data-aos-delay="400">
            <a href="contact.html" class="navItem">Work with Us</a>
          </li>
        </ul>
      </div>
      <div class="social-wrappaer">
        <a href="#" class="social-card" data-aos="flip-left" data-aos-delay="200">
          <img src="/assets/svg/linkedin.svg" alt="linkedin" />
        </a>
        <a href="#" class="social-card" data-aos="flip-left" data-aos-delay="300">
          <img src="/assets/svg/x.svg" alt="x" />
        </a>
        <a href="#" class="social-card" data-aos="flip-left" data-aos-delay="400">
          <img src="/assets/svg/facebook.svg" alt="facebook" class="fb" />
        </a>
        <a href="#" class="social-card" data-aos="flip-left" data-aos-delay="400">
          <img src="/assets/svg/instagram.svg" alt="facebook" class="fb" />
        </a>
        <a href="#" class="social-card" data-aos="flip-left" data-aos-delay="400">
          <img src="/assets/svg/youtube.svg" alt="facebook" class="fb" />
        </a>
        <a href="#" class="social-card" data-aos="flip-left" data-aos-delay="400">
          <img src="/assets/svg/threads.svg" alt="facebook" class="fb" />
        </a>
      </div>
    </div>
    <div class="copyright">
      <p>
        Powered by
        <a href="https://pentaverse.in" target="_blank" rel="noopener noreferrer"><img src="/assets/svg/penta-font.svg"
            alt="pentaverse" class="penta-logo" /></a>
      </p>
      <p>Copyright © 2025 Signarch . All rights reserved.</p>
    </div>
  </div>
</footer>