<section class="our-clients">
  <div class="container">
    <h1>Our Clients</h1>
    <div class="slider">
      <div class="list">
        <div class="item">
          <img src="assets/clients/client-1.jpeg" alt="1" />
        </div>
        <div class="item">
          <img src="assets/clients/client-2.jpeg" alt="2" />
        </div>
        <div class="item">
          <img src="assets/clients/client-3.jpeg" alt="3" />
        </div>
        <div class="item">
          <img src="assets/clients/client-4.jpeg" alt="4" />
        </div>
        <div class="item">
          <img src="assets/clients/client-5.jpeg" alt="5" />
        </div>
        <div class="item">
          <img src="assets/clients/client-6.jpeg" alt="6" />
        </div>
        <div class="item">
          <img src="assets/clients/client-7.jpeg" alt="7" />
        </div>
        <div class="item">
          <img src="assets/clients/client-8.jpeg" alt="8" />
        </div>
        <div class="item">
          <img src="assets/clients/client-9.jpeg" alt="9" />
        </div>
        <div class="item">
          <img src="assets/clients/client-10.jpeg" alt="10" />
        </div>
        <div class="item">
          <img src="assets/clients/client-11.jpeg" alt="11" />
        </div>
        <div class="item">
          <img src="assets/clients/client-12.jpeg" alt="12" />
        </div>
        <div class="item">
          <img src="assets/clients/client-13.jpeg" alt="13" />
        </div>
        <div class="item">
          <img src="assets/clients/client-14.jpeg" alt="14" />
        </div>
        <div class="item">
          <img src="assets/clients/client-15.jpeg" alt="15" />
        </div>
        <div class="item">
          <img src="assets/clients/client-16.jpeg" alt="16" />
        </div>

        <!-- Repeat for infinite effect -->
        <div class="item">
          <img src="assets/clients/client-1.jpeg" alt="1" />
        </div>
        <div class="item">
          <img src="assets/clients/client-2.jpeg" alt="2" />
        </div>
        <div class="item">
          <img src="assets/clients/client-3.jpeg" alt="3" />
        </div>
        <div class="item">
          <img src="assets/clients/client-4.jpeg" alt="4" />
        </div>
        <div class="item">
          <img src="assets/clients/client-5.jpeg" alt="5" />
        </div>
        <div class="item">
          <img src="assets/clients/client-6.jpeg" alt="6" />
        </div>
        <div class="item">
          <img src="assets/clients/client-7.jpeg" alt="7" />
        </div>
        <div class="item">
          <img src="assets/clients/client-8.jpeg" alt="8" />
        </div>
        <div class="item">
          <img src="assets/clients/client-9.jpeg" alt="9" />
        </div>
        <div class="item">
          <img src="assets/clients/client-10.jpeg" alt="10" />
        </div>
        <div class="item">
          <img src="assets/clients/client-11.jpeg" alt="11" />
        </div>
        <div class="item">
          <img src="assets/clients/client-12.jpeg" alt="12" />
        </div>
        <div class="item">
          <img src="assets/clients/client-13.jpeg" alt="13" />
        </div>
        <div class="item">
          <img src="assets/clients/client-14.jpeg" alt="14" />
        </div>
        <div class="item">
          <img src="assets/clients/client-15.jpeg" alt="15" />
        </div>
        <div class="item">
          <img src="assets/clients/client-16.jpeg" alt="16" />
        </div>
      </div>
    </div>
  </div>
</section>
