<section class="stay-connected py-5">
  <div class="container">
    <div class="items-wrapper">
      <div>
        <h1 data-aos="flip-down" data-aos-delay="100">
          Signup for the <br />
          newsletter
        </h1>
        <p>Stay connected</p>
      </div>
      <form id="stay_connected">
        <div class="inputs-container">
          <input
            type="text"
            name="name"
            id=""
            placeholder="Name"
            class="input"
            data-aos="fade-down-left"
            data-aos-delay="200"
          />
          <div class="email-input-wrapper">
            <input
              type="email"
              name="email"
              id=""
              placeholder="Email"
              class="input email"
              data-aos="fade-down-left"
              data-aos-delay="300"
            />
            <button style="outline: none; border: none" type="submit">
              <!-- <img
            src="/assets/svg/arrow-right-white.svg"
            alt="Arrow"
            class="arrow"
            data-aos="zoom-in"
            data-aos-delay="400"
          /> -->
              submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
