<section class="stay-connected py-5">
  <div class="container">
    <div class="items-wrapper">
      <div>
        <h1 data-aos="flip-down" data-aos-delay="100">
          Signup for the <br />
          newsletter
        </h1>
        <p>Stay connected</p>
      </div>
      <form id="stay_connected">
        <div class="inputs-container">

          <input type="text" name="name" id="" placeholder="Name" class="input" data-aos="fade-down-left"
            data-aos-delay="200" />
          <div class="email-input-wrapper">
            <input type="email" name="email" id="" placeholder="Email" class="input email" data-aos="fade-down-left"
              data-aos-delay="300" />
            <button style="outline: none;border: none;" type="submit">
              <!-- <img
            src="/assets/svg/arrow-right-white.svg"
            alt="Arrow"
            class="arrow"
            data-aos="zoom-in"
            data-aos-delay="400"
          /> -->
              submit
            </button>

          </div>


        </div>
      </form>
    </div>
  </div>
  <script>
    document.getElementById("stay_connected").addEventListener("submit", async function (e) {
      e.preventDefault();

      const form = e.target;
      const data = {
        name: form.name.value,
        email: form.email.value,
      };

      try {
        const response = await fetch("https://sign-arch-backend-production.up.railway.app/api/v1/newsletter/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        });

        const result = await response.json();
        alert(result.message || "Message sent successfully!");
        form.reset();
      } catch (error) {
        alert("There was an error sending the message.");
        console.error(error);
      }
    });
  </script>
</section>